.segment1{
	height: 100vh;
	background: url(./bg1.jpg);
	background-position: right top;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
}

.segment1__text {
	margin-left: 10%;
	width: 40%;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5)
}

.segment1__text p {
	color: white;

}

.segment1__text a {
	color: #0f1821;
	text-decoration: none;
}


@media (max-width: 786px) {
	.segment1{
		background-position: left;
		background-size: cover;
	}

	.segment1__text {
		margin: auto;
		width: 80%;
	}
}