.toolbar {
	position: fixed;
	width: 100%;
	background: #9ed7dc;
	height: 8vh;
	top: 0;
	left: 0;
}

.toolbar__navigation {
	display: flex;
	height: 100%;
	align-items: center;
	padding: 0 1rem;
}

.toolbar__logo i {
	color: #0f1821;
}

.toolbar__logo a {
	color: white;
	/*font-weight: bolder;*/
	text-decoration: none;
	font-size: 2rem;
	margin-left: 2rem;
}

.spacer {
	flex: 1;
}

.toolbar__navigation-items ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.toolbar__navigation-items li {
	padding: 0 1rem;
}

.toolbar__navigation-items a {
	color: white;
	text-decoration: none;
	transition: 0.2s;
	font-weight: 500;
}

.toolbar__navigation-items a:hover,
.toolbar__navigation-itens a:active {
	color: #0f1821;
}


@media (max-width: 768px) {

	.toolbar__navigation-items {
		display: none;
	}
	.toolbar__logo a {
		margin-left: 0px;
	}
}

@media(min-width: 769px) {

	.toolbar__toggle-button {
		display: none;
	}
}