.banner-container {
	position: fixed;
	height: 10vh;
	width: 100vw;
	background-color: #9ed7dc;
/*	padding-left: 250px;*/
}

.banner {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 250px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3)
}

.banner span {
	color: white;
	font-size: 2.5rem;
}

.banner i {
	color: #0f1821;
}

@media (max-width: 768px) {
	.banner {
		margin-left: 0px;
	}

	.banner span {
		font-size: 1.5rem;
	}
}