.profile-container {
	display: flex;
	/*justify-content: space-around;*/
	flex-wrap: wrap;
}

.profile-table, .profile-table th, .profile-table td {
	border: 1px solid #0f1821;
}

.profile-table th {
	background: #9ed7dc;
}

.profile-table td {
	padding-left: 10px;
}

.profile-pic-container-2 {
	margin: 0 2rem;
	width: 200px;
	height: 200px;
}

.profile-pic-container-2 img {
	width: 100%;
	height: 100%;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3)
}

.profile-table-container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button-profile {
	margin: 10px 10px;
}

.profile-buttons-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

@media (max-width: 768px) {
	.profile-pic-container-2 {
		margin: 0 auto 20px auto;
	}

	.profile-table-container {
		margin: 0 auto;
	}

	.profile-table {
		width: 100%;
	}
	.profile-buttons-container {
		margin-bottom: 100px;
	}
}