.content-nav {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.content-nav div {
	margin: 0 10px;
}

.content-hr {
	margin: 40px 0;
	border: 1px solid #eaebed;
}

.content-search input, .content-filter select {
	width: 200px;
}

.content-gallery{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 150px;
}

.content-item {
	width: 300px;
	height: 300px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	margin: 20px auto;
	background-color: white;
}

.content-image-container {
	margin: 50px auto 0 auto;
	width: 120px;
	height: 120px;
	border: 5px solid #9ed7dc;
}

.content-image-container img {
	width: 100%;
	height: 100%;
}

.content-details {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content-details h3 {
	margin: 10px 0 0 0;
}

.content-details em {
	font-size: 0.8rem;
}

.content-details small {
	margin: 10px 0;
}