.side-panel {
	/*width: 20vw;*/
	min-width: 250px;
	height: 100vh;
	background: #0f1821;
	position: fixed;
	top: 0;
	left: 0;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.side-panel ul {
	list-style: none;
	padding: 0;
	width: 60%;
}

.side-panel li {
	margin: 50px 0;
}

.side-panel img {
	/*margin-top: 50px;*/
	border-radius: 50%;
	width: 100%;
	height: auto;
}

.profile-pic-container {
	margin-top: 50px;
	width: 50%;
}

.side-panel a{
	color: white;
	text-decoration: none;
	display: flex;
}

.side-panel i {
	margin-right: 20px;
	width: 36px;
}

.side-panel span {
	margin: auto 0;
}


@media (max-width: 768px) {
	.side-panel {
		height: 12vh;
		width: 100vw;
		position: fixed;
		bottom: 0;
		top: initial;
		left: initial;
		box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3)
	}

	.side-panel span {
		display: none;
	}

	.profile-pic-container {
		display: none;
	}

	.side-panel ul{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	.side-panel li {
		margin: 0;
	}

	.side-panel a {
		width: 36px;
	}

	.side-panel i {
		margin: initial;
	}
}