.booking-form-container{
	display: flex;
	justify-content: center;
}

.booking-form {
	display: flex;
	flex-direction: column;
}

.booking-form input {
	margin: 10px 0;
}

.booking-form button {
	/*margin-bottom: 40px;*/
	margin: 10px 0 10px 0;
}

.booking-form>span {
	margin-bottom: 50px;
}

.button-cash {
	margin-bottom: 20px;
}