.appointments-table {
	width: 90%;
	margin: 0 auto;
	font-size: 0.8rem;
	text-align: center;
	/*border: 2px solid black;*/
}

.appointments-table th{
	/*border-bottom: 2px solid black;*/
	background-color: #9ed7dc;
}

.appointments-table tr:nth-child(odd) {
	background-color: lightgray;
}

.button-action-1 {
	background: gold;
	border: 1px solid black;
	height: 18px;
	cursor: pointer;
	margin: 0 5px;
}

.button-action-2 {
	background: palegreen;
	border: 1px solid black;
	height: 18px;
	cursor: pointer;
	margin: 0 5px;
}

.button-action-3 {
	background: lightcoral;
	border: 1px solid black;
	height: 18px;
	cursor: pointer;
	margin: 0 5px;
}

.button-action-4 {
	background: dodgerblue;
	border: 1px solid black;
	height: 18px;
	cursor: pointer;
	margin: 0 5px;
}

@media (max-width: 768px) {
	.appointments-table {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		overflow-x: auto;
	}

	.appointments-table th, .appointments-table td {
		min-width: 150px;
		text-align: center;
	}
}