.register {
	background: lightgray;
	min-height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

.register__box {
	background: transparent;
	/*height: 40%;*/
	/*min-height: 700px;*/
	max-width: 400px;
	width: 100%;
}

.register__tabs {
	display: flex;
	height: 10%;
}


.register__tab1, .register__tab2 {
	background: #0f1821;
	color: #9ed7dc;
	height: 100%;
	min-height: 75px;
	width: 50%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.active {
	background: white;
	color: #0f1821;
}

.register__tab1 span, .register__tab2 span {
	margin: auto 0;
}

.reg-form__box {
	height: 90%;
	width: 100%;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3)
}

.register__form {
	height: 90%;
	width: 100%;
	padding: 30px 0;
}

.register__form div {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.input-field {
	width: 75%;
	padding: 10px 0;
	margin: 15px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid gray;
	outline: none;
	background: transparent;
	font-size: 1rem;
}


.form-button {
	margin: 30px 0;
	background: transparent;
	padding: 10px 60px;
	border: 2px solid #0f1821;
	color: #0f1821;
	cursor: pointer;
	font-weight: bolder;
	transition: 0.2s ease-in;
}

.form-button:hover {
	background: #0f1821;
	color: #9ed7dc;
}
