body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background:	whitesmoke;
}

.content {
	padding-top: 10vh;
	padding-left: 250px;
}

.content-title {
	margin-left: 2rem;
}

.content-body {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.upcoming-container, .history-container {
	min-width: 360px;
	width: 40%;
	min-height: 200px;
	background-color: white;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
	margin: 10px;
}

.upcoming-container {
	border-left: 5px solid palegreen;
}

.history-container {
	border-left: 5px solid tomato;
}

.upcoming-container h3, .history-container h3 {
	/*margin-left: 2rem;*/
	text-align: center;
}

.upcoming-container hr, .history-container hr {
	width: 70%;
	/*margin-left: 2rem;*/
}

.content-table{
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size: 0.7rem;
	text-align: center;
}

.button-view-details {
	margin: 20px auto;
	width: 200px;
}

@media (max-width: 768px) {
	.content {
		padding-left: 0px;
	}
	.upcoming-container, .history-container {
		width: 80%;
		min-width: 300px;
	}
}
