.content-title a {
	text-decoration: none;
	color: black;
}

.view-details-container {
	/*background: blue;*/
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 20px;
	width: 80%;
	margin-left: 50px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5)
}


.view-details-image-container {
	width: 250px;
	height: 250px;
}

.view-details-image-container img {
	width: 100%;
	height: 100%;
}

.view-details-details-container {
	margin-left: 50px;
	width: 60%;
	height: 250px;
}

.view-details-details-container h2 {
	margin-bottom: 0;
}

.view-details-detais-container p {
	margin: 10px;
}

/*.view-details-details-container p {
	width: 100%;
}*/

.button-book {
	padding: 10px 20px;
	background: #9ed7dc;
	border: 2px solid #0f1821;
	border-radius: 20px;
	font-weight: bolder;
	cursor: pointer;
	transition: 0.2s;
}

.button-book:hover {
	background-color: #0f1821;
	color: white;
}

.button-book:hover a {
	color: white;
}


.button-book a {
	text-decoration: none;
	color: #0f1821;
	transition: 0.2s;
	display: block;
}

@media (max-width: 768px) {
	.view-details-container {
		width: 250px;
		margin: 0 auto 20vh auto;
		justify-content: center;
		flex-wrap: wrap;
	}
	.view-details-details-container {
		margin: 0 auto 20px auto;
		width: 100%;
	}
}