.side-drawer {
	height: 100vh;
	background: #0f1821;
	box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 70%;
	max-width: 400px;
	z-index: 200;
	transform: translateX(-105%);
	transition: transform 0.3s ease-out
}

.side-drawer.open {
	transform: translateX(0);
}

.side-drawer ul {
	height: 100%;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
}

.side-drawer li {
	/*margin-left: 1rem;*/
	margin: 2.25rem 0 2.25rem 1rem;
}

.side-drawer div {
	margin: 2rem 0;
	justify-content: flex-start;
}

.side-drawer span {
	color: gray;
	font-size: 0.8rem;
	margin: 1rem 0;
	justify-content: space-between;
}

.side-drawer a {
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
}

.side-drawer a:hover,
.side-drawer a:active {
	color: #66cccc;
}

@media (min-width: 769px) {
	.side-drawer {
		display: none;
	}
}